body {
  font: 400 15px;
  line-height: 1.0;
  color: #303030;
  width: 100%;
      }
h2 {
  font-size: 40px;
  color: #3f4651;
}
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #cad7e7;
  font-weight: 400;
}  
b {
 color: #cad7e7;
}
.jumbotron {
  background-image: url('/home/powercms/public_html/testsample/test/images/videoframe.jpg');
  width: 100%;    
  font-family: Montserrat, sans-serif;
  background-size: cover;
  color: white;
  padding-top: 0px;
  height:670px;
}
.search {
  padding-right: 50px;
}
.jumbotron text-center{
  background-color: transparent;
}
.input-group{
  padding: 30px 25px;
  width: 700px;
}
.collapse {
  top: 0;
}
.btn {
  height: 50px;
}
.form-control {
  height: 50px;
}
.container {
  width: 100%;
  bottom: 10px;
}
.container-fluid {
  padding: 20px 50px;

}
.bg-grey {
  background-color: #f6f6f6;
}

.logo-small {
  color: #f4511e;
  font-size: 50px;
}
.logo {
  color: #f4511e;
  font-size: 200px;
}
.other {
  text-align: left;
  margin-left: 20px;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.nav-tabs li a {
  font-size: 20px;
  margin-left: 300px;
  padding-right: 50px;
}
.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #f4511e;
}
.carousel-indicators li {
  border-color: #f4511e;
}
.carousel-indicators li.active {
  background-color: #f4511e;
}
.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}
.item span {
  font-style: normal;
}
.text {
  color: #7C8987;
}
.right1 {
  color: #cad7e7;
  margin-left: 20px;
}
.email {
  color: #7C8987;
}
.past  {
  margin-left: 10px;
  transform: translate(-120%,0%);
}
.panel {
  border: 1px solid #f4511e; 
  border-radius: 0 !important;
  transition: box-shadow 0.5s;
}
.panel:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
  border: 1px solid #f4511e;
  background-color: #fff !important;
  color: #f4511e;
}
.panel-heading {
  color: #fff !important;
  background-color: #f4511e !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.panel-footer {
  background-color: white !important;
}
.panel-footer h3 {
  font-size: 32px;
}
.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}
.panel-footer .btn {
  margin: 15px 0;
  background-color: #f4511e;
  color: #fff;
}
.icon-links a {
  border-right-width: 1px;
 text-decoration: none;
}
.overlay {
border-color: black;
}
.navbar {  
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 2px;
  word-spacing: 10px;
  border-radius: 0;
  font-family: Montserrat, sans-serif; 
}
.navbar li a, .navbar .navbar-brand {
  color: #000 !important; 
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent; 
}
.navbar-default {
  background-color: transparent;
}
footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
}
.col-sm-4 {
  text-align: center;
  margin: 25px 0;
  text-decoration: none;
}
.hovereffect:hover {
  -moz-box-shadow: 0 0 10px #ccc;
      -webkit-box-shadow: 0 0 10px #ccc;
      box-shadow: 0 0 10px #ccc;
}
.btn-lg {
  width: 100%;
  margin-bottom: 35px;
}
.logo {
  font-size: 150px;
}
.footer {
  background-color: #19334B;
  color:#7C8987;
}
.discover {
  color: white;
  font-size: 5px;
}
.engage {
  color: red;
  font-size: 20px;
}
.expand {
  font-size: 20px;
  color: white;
}
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  text-decoration: none;
}
.text{
  color: #7C8987;
}
.hovereffect .overlay {
  width: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: auto;
  bottom: 0;
  padding: 1em;
  height: 4.75em;
  background: #79FAC4;
  color: #3c4a50;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
  visibility: hidden;
  text-decoration: none;
  box-shadow: 10px -10px 5px #CCC;
}
.thumbnail {
  border: 1px solid #ececec;
  text-decoration: none;
}
.hovereffect .thumbnail {
  display: block;
  position: relative;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  text-decoration: none;
 

}

.hovereffect:hover .thumbnail {
-webkit-transform: translate3d(0,-10%,0);
  transform: translate3d(0,-10%,0);
  text-decoration: none;
  box-shadow: 10px -10px 5px #CCC;

}
.glyphicon {
 color: #7C8987;
 padding-right: 30px;
 text-align: left;
}

.fa {
  color: #7C8987;
  border-radius: 100%; 
  border: 2px solid #fff;
  width: 30px;
  height: 30px;
  color: #CAD7E7;
  margin-left: 3px;
  font-size: 1.2em;
}
.jewel {
  font-size: 20px;
}
.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  float: left;
  margin: 0px;
  display: inline-block;
  text-decoration: none;
}
.hovereffect .info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
  border: 1px solid #9325BC;

}
.hovereffect .info:hover {
 
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  text-decoration: none;
  box-shadow: 10px -10px 5px #CCC;
}

.hovereffect p.icon-links  {
  float: center;
  color: #3c4a50;
  font-size: 1.4em;
  text-decoration: none;
}
.hovereffect:hover p.icon-links:hover,
.hovereffect:hover p.icon-links:focus {
  color: #252d31;
  text-decoration: none;
  
}
.hovereffect h2,
.hovereffect p.icon-links {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,200%,0);
  transform: translate3d(0,200%,0);
  visibility: visible;
  text-decoration: none;

}
.hovereffect p.icon-links span:before {
  display: inline-block;
  padding: 8px 10px;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}
.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  text-decoration: none;

}
.hovereffect:hover h2 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  text-decoration: none;
}
.hovereffect:hover p.icon-links li:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  box-shadow: 10px -10px 5px #CCC;
}
.hovereffect:hover p.icon-links li:nth-child(2) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  box-shadow: 10px -10px 5px #CCC;
}
.hovereffect:hover p.icon-links li:first-child {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  box-shadow: 10px -10px 5px #CCC;
}
.p {
  color: #cad7e7;
  font: 25px "montserratbold";
}
.pop {
  font-size: 16px;
  margin-top: 20px;
}
h1 {
  margin-top: 150px;
}
